.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .signInButton {
    margin-left: auto;
  }

  .signOutButton {
   /* border: 1px solid red; */
   width: 10px!important;
   padding: 0!important;
  }
  
  
  .dialogInput {
    margin-bottom: 16px;
  }


  